{% extends 'base.html.twig' %}

{% block title %}{{ "Dashboard" | trans() }}{% endblock %}

{% block body %}
    {% set vars = {'uploadFilePath' : path('upload_file')} %}
    {% include 'partial/upload_files_form.html.twig' with vars %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="small text-muted text-uppercase"><strong>{{ "File Name" | trans() }}</strong></th>
        </tr>
        </thead>
        <tbody>

        {% for file in files %}
            <tr>
                <td class="v-a-m">
                    {{ file.fileName }}
                </td>
                <td class="v-a-m">
                    <a target="_blank" href="{{ path('export_file', {'id': file.id}) }}"><i class="fa fa-fw fa-download text-inverse"></i> {{ 'Export file' | trans() }}</a>
                    {#<a href=""#}
                       {#class="export-file"#}
                       {#data-toggle="modal"#}
                       {#data-href="{{ path('export_file', {'id': file.id}) }}"#}
                       {#data-target=".exportModal">#}
                        {#<i class="fa fa-fw fa-download text-inverse"></i> {{ 'Export file' | trans() }}#}
                    {#</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% import 'dashboard/partial/export_form.html.twig' as exportForm %}

    {% set exportFormVars = {
        'class': 'exportModal',
        'formId': 'exportForm',
        'title': 'Export file',
        'content': exportForm.inputs(),
        'submitTitle': 'Export'
    }
    %}

    {% include 'partial/modal.html.twig' with exportFormVars %}

{% endblock %}